<h1>Friends</h1>

<%= link_to 'Add new friend', new_friend_path, class:"btn btn-primary btn-sm" %>
<br/>
<br/>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>Profile</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User Id</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <tr>
        <td>
          <%= image_tag(friend.image, class: "img-circular")  %>
        </td>
        <td>
          <%= link_to friend.first_name + ' ' + friend.last_name, friend%>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.user_id %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>


<style >
  .img-circular {
  width: 40px;
  height: 40px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
</style>
<br>
